@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.sm {
	font-family: 'Poppins', sans-serif;
	font-size: 0.8rem;
	font-weight: 300;
}

.md {
	font-family: 'Poppins', sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
}

.lg {
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
}

.thin {
	font-weight: 300;
}
.bold {
	font-weight: 600;
}
.extraBold {
	font-weight: 800;
}

.sp-1 {
	width: 100%;
	height: 1px;
}

.sp-2 {
	width: 100%;
	height: 10px;
}

.sp-3 {
	width: 100%;
	height: 20px;
}

.sp-4 {
	width: 100%;
	height: 30px;
}

.gray {
	color: #9b9b9b;
}

.black {
	color: #000000;
}

.lightGray {
	color: #f2f2f2;
}

.darkGray {
	color: #4f4f4f;
}

.absolute {
	position: absolute;
}

.left-arrow {
	top: 40%;
	left: 15px;
	width: 3rem;
	height: 3rem;

	color: #313131;

	background-color: #f2f2f2;

	border-radius: 50%;

	z-index: 1;
}

.right-arrow {
	top: 40%;
	right: 15px;
	width: 3rem;
	height: 3rem;

	color: #313131;

	background-color: #f2f2f2;

	border-radius: 50%;

	z-index: 1;
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@keyframes rightToMiddle {
	from {
		object-position: 100% 50%;
	}
	to {
		object-position: 50% 50%;
	}
}

@keyframes middleToLeft {
	from {
		object-position: 50% 50%;
	}
	to {
		object-position: 0% 50%;
	}
}

@keyframes leftToMiddle {
	from {
		object-position: 0% 50%;
	}
	to {
		object-position: 50% 50%;
	}
}

@keyframes middleToRight {
	from {
		object-position: 50% 50%;
	}
	to {
		object-position: 100% 50%;
	}
}

.img-RightToMiddle {
	animation: rightToMiddle 1s;
}

.img-MiddleToLeft {
	animation: middleToLeft 1s;
}

.img-LeftToMiddle {
	animation: leftToMiddle 1s;
}

.img-MiddleToRight {
	animation: middleToRight 1s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeIn {
	animation: fadeIn 1s;
}

.fadeOut {
	animation: fadeOut 1s;
}
